{% extends "common/template.njk" %}

{% block backLink %}{% endblock %}

{% block page_content %}
<main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">

          <div class="govuk-panel govuk-panel--confirmation govuk-!-margin-bottom-6">
            <h1 class="govuk-panel__title">
              {{successMessage}}
            </h1>
          </div>
          <p class="govuk-body-m">{{subContent}} </p>
        </main>
{% endblock %}