{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/file-upload/macro.njk" import govukFileUpload %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "common/fileupload/macro.njk" import fileUpload %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}
{% from "govuk/components/input/macro.njk" import govukInput %}


{% set selectedFileType = "image/jpeg,image/png,application/pdf,image/jpg,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document,text/plain,application/rtf"%}

{% extends "common/template.njk" %}

{% block page_content %}

{% if FileErrors.length > 0 %}

{% set errorList = []%}
{% set errorMessage = ""%}

{% for error in FileErrors %}
{% if error.propertyName === 'fileSize'%}
 {% set errorList = (errorList.push({text: errors.documentUpload.fileSize , href: '#file-upload-1'}), errorList) %}
  {% set errorMessage =errors.documentUpload.fileSize  %}
 {%elif error.propertyName === 'fileValidation'%}
  {% set errorList = (errorList.push({text: errors.documentUpload.fileFormat , href: '#file-upload-1'}), errorList) %}
    {% set errorMessage = errors.documentUpload.fileFormat  %}
{%else%}
 {% set errorList = (errorList.push({text: errors.fileSize.required , href: '#file-upload-1'}), errorList) %}
     {% set errorMessage = errors.fileSize.required  %}
{%endif%}
{% endfor %}

{{ govukErrorSummary({
  titleText: errorSummaryMessage,
   errorList: errorList
}) }}

{%endif%}

<h1 class="govuk-heading-xl govuk-!-margin-top-7">{{title}}</h1>

{{ govukTextarea({
  name: "more-detail",
  id: "more-detail",
  label: {
    text: paragraph1,
    classes: "govuk-label-s",
    isPageHeading: true
  }
}) }}

<p class="govuk-body">{{uploadedDocumentsSubTitle}}</p>
<ul class="govuk-list govuk-list--bullet">
{% for item in uploadDocumentsBullets %}
        <li>{{item | safe}}</li>
{% endfor %}
</ul>
<p class="govuk-body">{{caseRelevancySubTitle}}</p>


{% set uploadReqTest = ""%}
{% for item in uploadHelpBullets %}
    {% set uploadReqTest = uploadReqTest + "<li>" + item + "</li>"%}
{% endfor %}
{% set requirementTest = "<ul class='govuk-list govuk-list--bullet'>" + uploadReqTest + "</ul>" %}

{{ govukDetails({
  summaryText: fileUploadRequirementsLabel,
  text: requirementTest | safe
}) }}
<p class="govuk-body">{{guideText}}</p>
    <ul id="filesUploaded" class="govuk-list">
         {% if uploadedDocuments.length > 0 %}
        <h3> {{fileuploaded}} </h3>
         {% endif %}
      {% for document in uploadedDocuments %}
        <li class="uploadedFile govuk-section-break">
            <dt class="govuk-summary-list__value"> {{documentInLanguage}} {{loop.index}} </dt>
              <dt class="govuk-summary-list__value"> {{ document.fileName }} </dt>
              {% set documentId = document.documentId %}
              <dd class="govuk-summary-list__actions">
              <a href="{{postURL}}?removeId={{documentId}}" class="govuk-link--no-visited-state">{{ delete }}</a>
            </dd>
            </li>
    {% endfor %}
     {% if uploadedDocuments.length > 0 %}
        <hr>
         {% endif %}
    </ul>

    <p class="govuk-body">
    {{ fileFormats }}<br>
    {{ fileSize }}
  </p>
  
<div class="govuk-form-group govuk-inset-text">
 <form action="{{postURL}}/upload-documents" method="post" enctype="multipart/form-data">
 <input type="hidden" name="_csrf" id="csrfToken" value="{{ csrfToken }}">
  <div class="govuk-form-group--error">
 <p> {{uploadAFile}} </p>
  <p id="passport-issued-error" class="govuk-error-message">
      <span class="govuk-visually-hidden">Error:</span> {{errorMessage}}
    </p>
      {{ govukFileUpload({
  id: "file-upload-1",
  name: "documents",
     attributes: {
            multiple: false,
            accept: selectedFileType
  },
  classes: "govuk-!-margin-bottom-3"
}) }}
</div>
<p> Error <p>
{{ govukInput({
  label: {
    text: documentListLabel,
    classes: "govuk-label-s",
    isPageHeading: false
  },
  id: "event-name",
  name: "event-name"
}) }}
  {{ govukButton({
          text: uploadButton,
          type: "upload document",
          classes: "govuk-button--secondary govuk-!-margin-top-5 govuk--custom__button"
        }) }}

</form>  

  </div>



{% endblock %}


