{% extends "common/template.njk" %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/date-input/macro.njk" import govukDateInput %}
{% block page_content %}

{% if sessionError.length > 0 %}
{% set errorList = []%}
{% for error in sessionError %}
{%if error.propertyName === 'dataNotMatched' %}
{% set errorList = (errorList.push({text: errors.dataNotMatched.required , href: '#applicantName'}), errorList) %}
{%elif error.propertyName === 'isEmptyFields'%}
{% set errorList = (errorList.push({text: errors.isEmptyFields.required , href: '#applicantName'}), errorList) %}
{%else%}
{%endif%}
{%endfor%}
{{ govukErrorSummary({
  titleText: errorSummaryMessage,
   errorList: errorList
}) }}
{%endif%}

<h1 class="govuk-heading-xl govuk-!-margin-top-7" id="applicantName">{{title}}</h1>
{%endblock%}