Html Webpack Plugin:
<pre>
  Error: Child compilation failed:
  Module not found: Error: Can't resolve '/Users/m_2049789/Desktop/Projects/htmc  ts/fis-ds-update-web/src/main/steps/common/webpack/css-template.njk' in '/User  s/m_2049789/Desktop/Projects/htmcts/fis-ds-update-web'
  ModuleNotFoundError: Module not found: Error: Can't resolve '/Users/m_2049789/  Desktop/Projects/htmcts/fis-ds-update-web/src/main/steps/common/webpack/css-te  mplate.njk' in '/Users/m_2049789/Desktop/Projects/htmcts/fis-ds-update-web'
      at /Users/m_2049789/Desktop/Projects/htmcts/fis-ds-update-web/node_modules  /webpack/lib/Compilation.js:2014:28
      at /Users/m_2049789/Desktop/Projects/htmcts/fis-ds-update-web/node_modules  /webpack/lib/NormalModuleFactory.js:791:13
      at eval (eval at create (/Users/m_2049789/Desktop/Projects/htmcts/fis-ds-u  pdate-web/node_modules/tapable/lib/HookCodeFactory.js:33:10), <anonymous>:10:1  )
      at /Users/m_2049789/Desktop/Projects/htmcts/fis-ds-update-web/node_modules  /webpack/lib/NormalModuleFactory.js:265:22
      at eval (eval at create (/Users/m_2049789/Desktop/Projects/htmcts/fis-ds-u  pdate-web/node_modules/tapable/lib/HookCodeFactory.js:33:10), <anonymous>:9:1)      at /Users/m_2049789/Desktop/Projects/htmcts/fis-ds-update-web/node_modules  /webpack/lib/NormalModuleFactory.js:427:22
      at /Users/m_2049789/Desktop/Projects/htmcts/fis-ds-update-web/node_modules  /webpack/lib/NormalModuleFactory.js:115:11
      at /Users/m_2049789/Desktop/Projects/htmcts/fis-ds-update-web/node_modules  /webpack/lib/NormalModuleFactory.js:663:25
      at /Users/m_2049789/Desktop/Projects/htmcts/fis-ds-update-web/node_modules  /webpack/lib/NormalModuleFactory.js:848:8
      at /Users/m_2049789/Desktop/Projects/htmcts/fis-ds-update-web/node_modules  /webpack/lib/NormalModuleFactory.js:968:5
  Module not found: Error: Can't resolve '/Users/m_2049789/Desktop/Projects/htmc  ts/fis-ds-update-web/src/main/steps/common/webpack/js-template.njk' in '/Users  /m_2049789/Desktop/Projects/htmcts/fis-ds-update-web'
  ModuleNotFoundError: Module not found: Error: Can't resolve '/Users/m_2049789/  Desktop/Projects/htmcts/fis-ds-update-web/src/main/steps/common/webpack/js-tem  plate.njk' in '/Users/m_2049789/Desktop/Projects/htmcts/fis-ds-update-web'
      at /Users/m_2049789/Desktop/Projects/htmcts/fis-ds-update-web/node_modules  /webpack/lib/Compilation.js:2014:28
      at /Users/m_2049789/Desktop/Projects/htmcts/fis-ds-update-web/node_modules  /webpack/lib/NormalModuleFactory.js:791:13
      at eval (eval at create (/Users/m_2049789/Desktop/Projects/htmcts/fis-ds-u  pdate-web/node_modules/tapable/lib/HookCodeFactory.js:33:10), <anonymous>:10:1  )
      at /Users/m_2049789/Desktop/Projects/htmcts/fis-ds-update-web/node_modules  /webpack/lib/NormalModuleFactory.js:265:22
      at eval (eval at create (/Users/m_2049789/Desktop/Projects/htmcts/fis-ds-u  pdate-web/node_modules/tapable/lib/HookCodeFactory.js:33:10), <anonymous>:9:1)      at /Users/m_2049789/Desktop/Projects/htmcts/fis-ds-update-web/node_modules  /webpack/lib/NormalModuleFactory.js:427:22
      at /Users/m_2049789/Desktop/Projects/htmcts/fis-ds-update-web/node_modules  /webpack/lib/NormalModuleFactory.js:115:11
      at /Users/m_2049789/Desktop/Projects/htmcts/fis-ds-update-web/node_modules  /webpack/lib/NormalModuleFactory.js:663:25
      at /Users/m_2049789/Desktop/Projects/htmcts/fis-ds-update-web/node_modules  /webpack/lib/NormalModuleFactory.js:848:8
      at /Users/m_2049789/Desktop/Projects/htmcts/fis-ds-update-web/node_modules  /webpack/lib/NormalModuleFactory.js:968:5
  
  - Compilation.js:2014 
    [fis-ds-update-web]/[webpack]/lib/Compilation.js:2014:28
  
  - NormalModuleFactory.js:791 
    [fis-ds-update-web]/[webpack]/lib/NormalModuleFactory.js:791:13
  
  
  - NormalModuleFactory.js:265 
    [fis-ds-update-web]/[webpack]/lib/NormalModuleFactory.js:265:22
  
  
  - NormalModuleFactory.js:427 
    [fis-ds-update-web]/[webpack]/lib/NormalModuleFactory.js:427:22
  
  - NormalModuleFactory.js:115 
    [fis-ds-update-web]/[webpack]/lib/NormalModuleFactory.js:115:11
  
  - NormalModuleFactory.js:663 
    [fis-ds-update-web]/[webpack]/lib/NormalModuleFactory.js:663:25
  
  - NormalModuleFactory.js:848 
    [fis-ds-update-web]/[webpack]/lib/NormalModuleFactory.js:848:8
  
  - NormalModuleFactory.js:968 
    [fis-ds-update-web]/[webpack]/lib/NormalModuleFactory.js:968:5
  
  - Module not found: Error: Can't resolve '/Users/m_2049789/Desktop/Projects/ht    mcts/fis-ds-update-web/src/main/steps/common/webpack/js-template.njk' in '/U    sers/m_2049789/Desktop/Projects/htmcts/fis-ds-update-web'
  
  - ModuleNotFoundError: Module not found: Error: Can't resolve '/Users/m_204978    9/Desktop/Projects/htmcts/fis-ds-update-web/src/main/steps/common/webpack/js    -template.njk' in '/Users/m_2049789/Desktop/Projects/htmcts/fis-ds-update-we    b'
  
  - Compilation.js:2014 
    [fis-ds-update-web]/[webpack]/lib/Compilation.js:2014:28
  
  - NormalModuleFactory.js:791 
    [fis-ds-update-web]/[webpack]/lib/NormalModuleFactory.js:791:13
  
  
  - NormalModuleFactory.js:265 
    [fis-ds-update-web]/[webpack]/lib/NormalModuleFactory.js:265:22
  
  
  - NormalModuleFactory.js:427 
    [fis-ds-update-web]/[webpack]/lib/NormalModuleFactory.js:427:22
  
  - NormalModuleFactory.js:115 
    [fis-ds-update-web]/[webpack]/lib/NormalModuleFactory.js:115:11
  
  - NormalModuleFactory.js:663 
    [fis-ds-update-web]/[webpack]/lib/NormalModuleFactory.js:663:25
  
  - NormalModuleFactory.js:848 
    [fis-ds-update-web]/[webpack]/lib/NormalModuleFactory.js:848:8
  
  - NormalModuleFactory.js:968 
    [fis-ds-update-web]/[webpack]/lib/NormalModuleFactory.js:968:5
  
  - child-compiler.js:169 
    [fis-ds-update-web]/[html-webpack-plugin]/lib/child-compiler.js:169:18
  
  - Compiler.js:564 
    [fis-ds-update-web]/[webpack]/lib/Compiler.js:564:11
  
  - Compiler.js:1183 
    [fis-ds-update-web]/[webpack]/lib/Compiler.js:1183:17
  
  
  - Hook.js:18 Hook.CALL_ASYNC_DELEGATE [as _callAsync]
    [fis-ds-update-web]/[tapable]/lib/Hook.js:18:14
  
  - Compiler.js:1179 
    [fis-ds-update-web]/[webpack]/lib/Compiler.js:1179:33
  
  - Compilation.js:2785 finalCallback
    [fis-ds-update-web]/[webpack]/lib/Compilation.js:2785:11
  
  - Compilation.js:3090 
    [fis-ds-update-web]/[webpack]/lib/Compilation.js:3090:11
  
  
  - Hook.js:18 Hook.CALL_ASYNC_DELEGATE [as _callAsync]
    [fis-ds-update-web]/[tapable]/lib/Hook.js:18:14
  
</pre>