nodejs:
  # Don't modify below here
  image: ${IMAGE_NAME}
  ingressHost: ${SERVICE_FQDN}
  environment:
    REFORM_TEAM: fis
    REFORM_SERVICE_NAME: fis-ds-update-web
    REDIS_HOST: 'fis-dss-update-case-redis-{{ .Values.global.environment }}.redis.cache.windows.net'
    FIS_COS_API: 'http://fis-cos-api-{{ .Values.global.environment }}.service.core-compute-{{ .Values.global.environment }}.internal'
    RPE_API: 'http://rpe-service-auth-provider-{{ .Values.global.environment }}.service.core-compute-{{ .Values.global.environment }}.internal'

  keyvaults:
    fis-kv:
      secrets:
        - AppInsightsInstrumentationKey
        - redis-access-key-dss-update-case
