nodejs:
  applicationPort: 3100
  aadIdentityName: fis
  ingressHost: fis-ds-update-web.{{ .Values.global.environment }}.platform.hmcts.net
  image: 'hmctspublic.azurecr.io/fis/ds-update-web:latest'
  
  environment:
    NODE_ENV: production
    REFORM_TEAM: fis
    REFORM_SERVICE_NAME: fis-ds-update-web
    REDIS_HOST: 'fis-ds-web-session-storage-{{ .Values.global.environment }}.redis.cache.windows.net'

  keyVaults:
    fis:
      secrets:
        - redis-access-key
        - AppInsightsInstrumentationKey

