{% extends "common/template.njk" %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}


{% block content %}

 <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        {% block backLink %}
    <a href="#" class="govuk-back-link">{{ back }}</a>
  {% endblock %}

{% block page_content %}

      {% block error_summary %}
        {% include "common/error/summary.njk" %}
      {% endblock %}   


{% if sessionError.length > 0 %}
{% set errorList = []%}
{% for error in sessionError %}
{%if error.propertyName === 'submissionError' %}
{% set errorList = (errorList.push({text: errors.submissionError.content , href: '#'}), errorList) %}
{%else%}
{%endif%}
{%endfor%}
{{ govukErrorSummary({
  titleText: errorSummaryMessage,
   errorList: errorList
}) }}
{%endif%}

<h1 class="govuk-heading-xl govuk-!-margin-top-5">{{title}}</h1>




{% block form %}
  {% include "./form.njk"%}
{% endblock %}
{% endblock %}

{% block page_contact_us %}
{% endblock %}
  {% endblock %}