{% extends "common/template.njk" %}


{% block page_content %}
<h2 class="govuk-heading-xl govuk-!-margin-bottom-12">{{headingTitle}}</h2>
<p class="govuk-hint">{{paragraph1}}</p>
<p class="govuk-hint">{{paragraph2}}</p>
<p class="govuk-hint govuk-!-margin-bottom-10">{{paragraph3}}</p>
{% endblock %}
