{% extends "common/template.njk" %}
{% block page_content %}

<h1 class="govuk-heading-xl govuk-!-margin-top-7">{{title}}</h1>
<h1 class="govuk-heading-md"> {{subtitle}} </h1>
<p class="govuk-body-l">{{line1}}</p>
<p class="govuk-body-l">{{line2}}</p>
<p class="govuk-body-l">{{line3}}</p>
<p class="govuk-body-l">{{line4}}</p>
<p class="govuk-body-l">{{line5}}</p>
<p class="govuk-body-l">{{line6}}</p>
<p class="govuk-body-l">{{line7}}</p>

{%endblock%}